{% comment %}

    Embed a radar chart, https://www.chartjs.org/docs/latest/charts/radar.html
    
    E.G. --> {% include feature/radar-chart.html data="sotu_20th_century" years="1905;1945;1969;1990" topics="America at war;America as world power;labor in America;American economy" %}

    Limit 6 years
    Minimum 3 topics

    Options for data value:
        sotu_20th_century
        sotu_20th_century_1900_1944
        sotu_20th_century_1948_2000
        party_platforms_1900_1944_all
        party_platforms_1900_1944_democratic
        party_platforms_1900_1944_republican
        party_platforms_1948_2000_all
        party_platforms_1948_2000_democratic
        party_platforms_1948_2000_republican
        party_platforms_20th_century_all
        party_platforms_20th_century_democratic
        party_platforms_20th_century_republican

{% endcomment %}

{% capture topicdata %}{{ include.data | append: '-topics' }}{% endcapture %}
{% capture documentdata %}{{ include.data | append: '-documents' }}{% endcapture %}
{% capture varName %}topics_{{ include.topics | slugify | replace: "-","_" }}_ids_{{ include.years | slugify | replace: "-","_" }}{% endcapture %}

{%- assign topics = include.topics | split: ";" -%}
{%- assign docs = include.years | split: ";" -%}
{%- assign chosentopics = site.data.topics[topicdata] -%}
{%- assign chosendocuments = site.data.documents[documentdata] -%}
{%- assign colors = site.data.config-theme-colors | where_exp: 'item', 'item.rgba' -%}

<div class="text-center">
  <h4>Radar Chart</h4>
  <p>{{ include.data | replace: '-', ' ' | replace: 'sotu', 'State of the Union' | remove: ' all' }} </p>
</div>

<div class="chart-container">
<canvas id="{{ varName }}" class="py-5"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
<script>
var radctx = document.getElementById('{{ varName }}');

var topicData = [
  {%- for d in docs -%}{% assign record = chosendocuments | where_exp: 'item', 'item.id contains d' %}{% for r in record %}
  [{{ r.id | slugify | jsonify }}, {{ r.id | replace: "-", " " | jsonify }}, [{% for t in topics %}{% assign selectedtopics = chosentopics | where: 'topicname', t %}{% for s in selectedtopics %}{{ r[s.topic] }}{%- endfor -%}{% unless forloop.last %}, {% endunless %}{%- endfor -%}] ]{% unless forloop.last %}, {% endunless %}{%- endfor -%}{% unless forloop.last %}, {% endunless %}{% endfor %}
];

var colorData = [
  {% for c in colors %}[ {{ c.color_class | jsonify }}, {{ c.color | jsonify }}, {{ c.rgba |jsonify }}]{% unless forloop.last %},{% endunless %}{%- endfor -%}
];

var itemData = []
for (let i = 0; i < topicData.length; i++) itemData.push({
    label: topicData[i][1],
    data: topicData[i][2],
    fill: true,
    backgroundColor: 'rgba(' + colorData[i][2] + ', 0.2)',
    borderColor: 'rgb(' + colorData[i][2] + ')',
    pointBackgroundColor: 'rgb(' + colorData[i][2] + ')',
    pointBorderColor: colorData[i][1],
    pointHoverBackgroundColor: colorData[i][1],
    pointHoverBorderColor: 'rgb(' + colorData[i][2] + ')'
});

var data = {
  labels: [
    {%- for t in topics -%}
    {{ t | jsonify }}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ],
  datasets: itemData
};

var radarChart = new Chart(radctx, {
  type: 'radar',
  data: data,
  options: {
    elements: {
      line: {
        borderWidth: 3
      }
    }
  },
});
</script>