{% comment %}

    Embed a table of chosen topics
    
    E.G. --> {% include feature/topic-table.html data="party-platforms-20th-century-all" topics="Cold War;free America;basic rights" %}

{% endcomment %}

{% capture topicdata %}{{ include.data | append: '-topics' }}{% endcapture %}
{%- assign topics = include.topics | split: ";" -%}
{%- assign chosentopics = site.data.topics[topicdata] -%}

<div class="text-center">
   <h4>Topic Table</h4>
   <p>{{ include.data | replace: '-', ' ' | replace: 'sotu', 'State of the Union' | remove: ' all' }} </p>
</div>

<table class="table table-striped" style="max-width: 650px;margin-left: auto;margin-right: auto;">
    <thead>
       <tr>
          <th>Topic</th>
          <th>Words</th>
       </tr>
    </thead>
    <tbody>
    {%- for t in topics -%}
    {%- assign selectedtopics = chosentopics | where: 'topicname', t -%}
    {% for s in selectedtopics %}
    <tr>
       <td class="topic">{{ s.topicname }}</td>
       <td class="words">{{ s.words }}</td>
    </tr>
    {%- endfor -%}
    {%- endfor -%}
    </tbody>
</table>