{% assign all_object_filenames = site.static_files | where_exp: 'f','f.path contains "objects/"' | map: 'name' %}
{% capture images %}{% for f in all_object_filenames %}{% assign ext = f | downcase %}{% if ext contains '.jpg' or ext contains '.jpeg' or ext contains '.png' or ext contains '.gif' %}{{ f }};{% endif %}{% endfor %}{% endcapture %}
{% assign images = images | split: ';' | compact %}
{% capture pdfs %}{% for f in all_object_filenames %}{% assign ext = f | downcase %}{% if ext contains '.pdf' %}{{ f }};{% endif %}{% endfor %}{% endcapture %}
{% assign pdfs = pdfs | split: ';' | compact %}
<script>
    var allImages = [
        {% for f in images %}{{ f | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}
    ];

    var allDocs = [
        {% for f in pdfs %}{{ f | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}
    ];

    function getType() {
        var chosenType = this.value;
        if(chosenType == 'image') {
            // set up image options
            var imageOptions = allImages.map(i => `<option value="${i}">${i}</option>`).join(" ");
            // set image form
            var imageForm = 
                `<div class="form-group">
                    <label for="imageFile">Image filename:</label>
                    <select class="custom-select" id="imageFile">
                        <option value="">Select an image file</option>
                        ${imageOptions}
                    </select>
                </div>
                <div class="form-group">
                    <label for="imageAlt">Image alt text (required for accessibility):</label>
                    <input class="form-control" id="imageAlt" placeholder="Describe contents of image">
                </div>
                <div class="form-group">
                    <label for="imageCaption">Image caption (optional):</label>
                    <input class="form-control" id="imageCaption" placeholder="Text caption for image">
                </div>
                <div class="form-group">
                    <label for="imageWidth">Image width (optional):</label>
                    <select class="custom-select" id="imageWidth">
                        <option value="">Select an image width</option>
                        <option value="25">25%</option>
                        <option value="50">50%</option>
                        <option value="75">75%</option>
                        <option value="100">100%</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imageLink">Image link (optional):</label>
                    <input class="form-control" id="imageLink" placeholder="Add a link to where you found your image">
                </div>
                <button type="submit" id="generate" class="btn btn-primary mr-3">Submit</button>
                <button id="reload" class="btn btn-success">Refresh</button>`;

            // add image form to page
            document.getElementById('form-content').innerHTML = imageForm;

            // define button
            var btn = document.getElementById('generate');

            // generate include
            btn.addEventListener('click', function(){
                // get include options, check if blank, and set up in template
                var includeFilename = document.getElementById('imageFile').value ? ` filename="${document.getElementById('imageFile').value}"` : "";
                var includeAlt = document.getElementById('imageAlt').value ? ` alt="${document.getElementById('imageAlt').value}"` : "";
                var includeCaption = document.getElementById('imageCaption').value ? ` caption="${document.getElementById('imageCaption').value}"` : "";
                var includeWidth = document.getElementById('imageWidth').value ? ` width="${document.getElementById('imageWidth').value}"` : "";
                var includeLink = document.getElementById('imageLink').value ? ` link="${document.getElementById('imageLink').value}"` : "";

                // check required options
                if (includeFilename == "") {
                    alert('Please choose an image filename!');
                } else if (includeAlt == "") {
                    alert('Image alt text must be filled in!');
                } else {

                    // set up include code 
                    var include = 
                        `<div class="card">
                            <div class="m-4">
                                <p>
                                    <strong>Include Code </strong><br>
                                    <small class="text-muted">Copy and paste all of the code below into your essay page</small><br>
                                    <code>
                                    {% raw %}{% include feature/image.html${includeFilename}${includeAlt}${includeCaption}${includeWidth}${includeLink} %}{% endraw %}
                                    </code>
                                </p>
                            </div>
                        </div>`;
                    // add to page
                    document.getElementById('include-output').innerHTML = include;
                }
            });

            // refresh button
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });

        } else if(chosenType == 'pdf') {
            // set up pdf options
            var pdfOptions = allDocs.map(i => `<option value="${i}">${i}</option>`).join(" ");

            // set pdf form
            var pdfForm = 
                `<div class="form-group">
                    <label for="pdfFile">Document filename:</label>
                    <select class="custom-select" id="pdfFile"">
                        <option value="">Select a document</option>
                        ${pdfOptions}
                    </select>
                </div>
                <div class="form-group">
                    <label for="pdfCaption">Document caption (optional):</label>
                    <input class="form-control" id="pdfCaption" placeholder="Text caption for document">
                </div>
                <div class="form-group">
                    <label for="pdfWidth">Document width (optional):</label>
                    <select class="custom-select" id="pdfWidth"">
                        <option value="">Select a document width</option>
                        <option value="25">25%</option>
                        <option value="50">50%</option>
                        <option value="75">75%</option>
                        <option value="100">100%</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pdfLink">Document link (optional):</label>
                    <input class="form-control" id="pdfLink" placeholder="Add a link to where you found your document">
                </div>
                <button type="submit" id="generate" class="btn btn-primary mr-3">Submit</button>
                <button id="reload" class="btn btn-success">Refresh</button>`;

            // add pdf form to page
            document.getElementById('form-content').innerHTML = pdfForm;

            // define button
            var btn = document.getElementById('generate');

            // generate include
            btn.addEventListener('click', function(){
                // get include options, check if blank, and set up in template
                var includeFilename = document.getElementById('pdfFile').value ? ` filename="${document.getElementById('pdfFile').value}"` : "";
                var includeCaption = document.getElementById('pdfCaption').value ? ` caption="${document.getElementById('pdfCaption').value}"` : "";
                var includeWidth = document.getElementById('pdfWidth').value ? ` width="${document.getElementById('pdfWidth').value}"` : "";
                var includeLink = document.getElementById('pdfLink').value ? ` link="${document.getElementById('pdfLink').value}"` : "";

                // check required options
                if (includeFilename == "") {
                    alert('Please choose a document filename!');
                } else {

                    // set up include code 
                    var include = 
                        `<div class="card">
                            <div class="m-4">
                                <p>
                                    <strong>Include Code </strong><br>
                                    <small class="text-muted">Copy and paste all of the code below into your essay page</small><br>
                                    <code>
                                    {% raw %}{% include feature/pdf.html${includeFilename}${includeCaption}${includeWidth}${includeLink} %}{% endraw %}
                                    </code>
                                </p>
                            </div>
                        </div>`;
                    // add to page
                    document.getElementById('include-output').innerHTML = include;
                }
            });

            // refresh button
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });
        }
    };

    var includeSelection = document.getElementById("include-type");
    includeSelection.addEventListener('change', getType);
</script>