<div class="row my-2 justify-content-center">
    <div class="col-md-6">
        <div class="m-4">
            <h3>About the data used for this project:</h3>
            <p>The State of the Union Addresses and Party Platforms used for the text analysis and topic modeling in this site were obtained from the University of California Santa Barbara's <a href="https://www.presidency.ucsb.edu/documents">American Presidency Project</a>. This data can be found in multiple formats in this website's GitHub repository in the <a href="https://github.com/learn-static/text-analysis/tree/main/assets/data">/assets/data/</a> folder.</p>

            <p>Only Democratic and Republican parties were included in our 20th-century Party Platforms data.</p>
    
            <p>Topic modeling was performed on these texts using the <a href="https://mimno.infosci.cornell.edu/jsLDA/">jsLDA</a> tool by David Mimno. Information on the number of iterations performed on each corpus can be found in this site's GitHub repository at [_data/topic-data.csv](https://github.com/learn-static/text-analysis/blob/main/_data/topic-data.csv) spreadsheet.</p>
    
            <p>The stopword list used for the State of the Union Address topic modeling and analysis is the Buckley-Salton stopword list, retrieved from Alan Liu workshop at <a href="American Presidency Project">American Presidency Project</a>. The Buckley-Salton stopword list was also used for the Party Platforms, with the addition of three words: america, american, and americans.</p>
        </div>
    </div>
</div>