---
layout: page
---

<h1 class="pb-4 text-center">Topics: {{ page.title }}</h1>

<div class="row pb-3 justify-content-center">
    <div class="col-md-10">
        <p>A table of named topics and line charts visualizing each topic are presented below. For instructions on how to name a topic and view its corresponding line chart visualization, see the documentation at <a href="https://learn-static.github.io/hist-320/topic-modeling.html">https://learn-static.github.io/hist-320/topic-modeling.html</a>.</p>
    </div>
</div>

{% for file in site.data.topics %}
{% assign filename = file[0] %}
{% if page.url contains filename %}
{% assign topics = site.data.topics[filename] | where_exp: 'item', 'item.topicname != nil' | map: 'topicname' %}
{% assign tabletopics = topics | join: ';' %}
{% capture filename %}{{ filename | remove: '-topics' }}{% endcapture %}
{% capture tabletopics %}{{ tabletopics }}{% endcapture %}

<div class="card">
    <div class="m-5">
        {% include feature/topic-table.html data=filename topics=tabletopics %}
        <p class="pt-4 text-center">
            <strong>Include Code</strong><br>
            <small class="text-muted">To use this table in your essay, copy and paste all of the code below into your essay page</small><br>
            <code>{% raw %}{% include feature/topic-table.html data="{% endraw %}{{ filename | remove: '-topics' }}{% raw %}" topics="{% endraw %}{{ tabletopics }}{% raw %}" %}{% endraw %}</code>
        </p>
    </div>
</div>

<hr>

{% for t in topics %}
{% capture topic %}{{ t }}{% endcapture %}

<div class="card">
    <div class="m-5 text-center">
        {% include feature/line-chart.html data=filename topic=topic %}
        <p>
            <strong>Include Code</strong><br>
            <small class="text-muted">To use this visualization in your essay, copy and paste all of the code below into your essay page</small><br>
            <code>{% raw %}{% include feature/line-chart.html data="{% endraw %}{{ filename | remove: '-topics' }}{% raw %}" topic="{% endraw %}{{ t }}{% raw %}" %}{% endraw %}</code>
        </p>
    </div>
</div>

{% unless forloop.last %}
<hr>
{% endunless %}

{% endfor %}
{% endif %}
{% endfor -%}

